[submodule "submodules/i3lock-fancy"]
	path = submodules/i3lock-fancy
	url = git@github.com:meskarune/i3lock-fancy.git
[submodule "submodules/lightsonplus"]
	path = submodules/lightsonplus
	url = git@github.com:devkral/lightsonplus.git
[submodule "submodules/goblocks"]
	path = submodules/goblocks
	url = https://github.com/ElliottLandsborough/goblocks
